body {
  background-image: linear-gradient(135deg, skyblue, white, skyblue);
  font-family: serif;

}
h1 {
  font-size: 40px;
}

.jumbotron {
  background-color: #555555;
  color: white;
  text-align: center;
  margin-top: 10px;
  box-shadow: 5px 5px 10px #888888;
}

.csscustomizer p {
  font-size: 80px;
}

form#questionnaire {
  display: none;
}
#reveal {
  display: none;
}
#errorName, #errorAge {
  display: none;
  color: red;
  font-size: 12px;
  font-style: italic;

.row {
  margin-top: 5%;
}

button {
  border-radius: 2px;
  margin-left: 50px;
}
